@{
    ViewData["Title"] = "Update Employee";
}

<h1>@ViewData["Title"]</h1>
<br />

@section styles
{
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <a asp-controller="Employee" asp-action="Index" class="btn btn-success">Volver al sitio anterior</a><br />
        </div>
    </div>

    <div class="card-body">
        <form id="contactForm" asp-controller="Employee" asp-action="Update" method="post">

            <!--ID del empleado que se actualizará-->
            <input type="hidden" name="Id" value="@Model.Id" />

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary()
                </div>
            }
            <div class="mb-3">
                <label class="form-label" for="Nombre">Nombre</label>
                <input class="form-control" id="Nombre" name="Nombre" type="text" value="@Model.Nombre" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Apellido">Apellido</label>
                <input class="form-control" id="Apellido" name="Apellido" type="text" value="@Model.Apellido" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="NumeroTelefonico">Numero telefonico</label>
                <input class="form-control" id="NumeroTelefonico" name="NumeroTelefonico" type="text" value="@Model.NumeroTelefonico" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Dui">DUI</label>
                <input class="form-control" id="Dui" name="Dui" type="text" value="@Model.Dui" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="TypeEmployeeId">Tipo Empleado</label>
                <select id="TypeEmployeeId" class="form-control" name="TypeEmployeeId" required>
                    @foreach (var typeEmployee in ViewBag.TypeEmployees)
                    {
                        var option = new TagBuilder("option");
                        option.Attributes["value"] = typeEmployee.Id.ToString();

                        if (typeEmployee.Id == Model.TypeEmployeeId)
                        {
                            option.Attributes["selected"] = "selected";
                        }

                        option.InnerHtml.Append(typeEmployee.Nombre);
                        @option
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="EsActivo">Estado</label>
                <select id="EsActivo" class="form-control" name="EsActivo" required>
                    @{
                        var options = new List<TagBuilder>();

                        var optionTrue = new TagBuilder("option");
                        optionTrue.Attributes["value"] = "true";
                        if (Model.EsActivo)
                        {
                            optionTrue.Attributes["selected"] = "selected";
                        }
                        optionTrue.InnerHtml.Append("Activo");
                        options.Add(optionTrue);

                        var optionFalse = new TagBuilder("option");
                        optionFalse.Attributes["value"] = "false";
                        if (!Model.EsActivo)
                        {
                            optionFalse.Attributes["selected"] = "selected";
                        }
                        optionFalse.InnerHtml.Append("Inactivo");
                        options.Add(optionFalse);

                        foreach (var option in options)
                        {
                            @option
                        }
                    }
                </select>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                 <br><button type="submit" class="btn btn-success">Guardar Cambios</button>
                </div>
            </div>
        </form>
    </div>
</div>
